{% extends "base.html" %}

{% block title %}Inventory List{% endblock %}

{% block content %}
    <h1>Welcome to Inventory!</h1>

    {% if product_list %}
        <ul class="list">
        {% for name, details in product_list.items %}
            <li class="list-item">
                <a href="{% url 'product' name %}">
                    <span class="product-name">{{ name }}</span>
                    <span class="product-counts">
                        <span>Total: {{ details.total }}</span>
                        <span>Available: {{ details.available }}</span>
                    </span>
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="no-products">No products are available.</p>
    {% endif %}
{% endblock %}
