{% extends "base.html" %}

{% block title %}Product Details{% endblock %}

{% block content %}
    {% if product %}
        <h1>Product: {{ product.product_name|upper }} ({{ product.tag_no|default:"N/A" }})</h1>
        <ul>
            <li><strong>Owner:</strong> {{ product.curr_owner|default:"Not Assigned" }}</li>
            <li><strong>Previous Owner:</strong> {{ product.prev_owner|default:"Unknown" }}</li>
            <li><strong>Description:</strong> {{ product.description|default:"No description available" }}</li>
            <li><strong>Last Updated:</strong> {{ product.last_updated|default:"Not Available" }}</li>
        </ul>
    {% else %}
        <h2>No product details available.</h2>
    {% endif %}
{% endblock %}
